<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Cards/styles.css">
    <title>♠️</title>
</head>

<body>


    <!-- Cards -->
    <div id="centering">
        <div class="container">

            <!-- First Card -->
            <div class="wrapper">
                <div class="card">
                    <div class="sign">Hover Me!</div>
                    <div class="content">
                        <h3>Something</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, magnam?</p>
                        <button>Read More</button>
                    </div>
                </div>
            </div>

            <!-- Second Card -->
            <div class="wrapper">
                <div class="card">
                    <div class="sign">Hover Me!</div>
                    <div class="content">
                        <h3>Something</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, magnam?</p>
                        <button>Read More</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Ended -->

</body>

</html>